{% extends 'Task_app/base.html' %}

{% load static %}

{% block titulo %}Pagina Principal{% endblock titulo %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock head %}

{% block content %}
  <div class="teste"></div>
  <div class="col-8 mt-5">
    {% if error %}{{error}}{% endif %}
    <form class="form-inline justify-content-center mx-3" id="" method="POST">
      {% csrf_token %}
      {% for field in form %}
        <div class="mx-3">
          {{field}}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-outline-success">Criar</button>
    </form>
  </div>

  <div class="col-5 mt-5">
    {% for task in tasks %}
      <div class="card mb-1">
        <div class="card-body">
          {{task.titulo}}
          <button type="button" class="close" aria-label="Close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}


{% block loadScript %}
<script>
  //window.document.body.querySelector('input#id_titulo').focus()
  //Caso não consiga ativar os arquivos estaticos deixar o script dentro da pagina
</script>
  <script src="{% static 'js/script_task.js' %}"></script>
{% endblock loadScript %}